<!-- 平衡 Blogs 的DIV -->
<div class="BlogsBalance"></div>
<div class="BlogsContent">
  <div class="BlogsSearchBar" id="BlogsSearchBar">
    <div id="serach-hover">
        <div class="search-tb">
          <div class="search-td"><input id="search-input" type="text" style="outline: none;border: 0;" onkeydown="search_submit()" placeholder="Search" required></div>
          <div class="search-td" id="search-cover">
            <button type="search-submit"><div id="search-circle"></div><span></span></button>
          </div>
        </div>
    </div>
  </div>
  <!-- Blogs -->
  <div class="BlogsArticle">
    <div class="ArticleContainer">
      <div class="cover ArticleImg" id="C4">
        <div class="ArticleImg-layer" data-img="../static/Blogs/C4/Image.png"></div>
        <div class="ArticleImg-layer" data-img="../static/Blogs/C4/C4.png"></div>
      </div>

    
      <div class="cover ArticleImg" id="Website" >
        <div class="ArticleImg-layer" data-img="http://robindelaporte.fr/codepen/visa-bg-2.jpg"></div>
        <div class="ArticleImg-layer" data-img="../static/Blogs/Website/Website.png"></div>
      </div>
      <div class="cover ArticleImg" >
        <div class="ArticleImg-layer" data-img="http://robindelaporte.fr/codepen/visa-bg.jpg"></div>
        <div class="ArticleImg-layer" data-img="http://robindelaporte.fr/codepen/visa.png"></div>
      </div>
      <div class="cover ArticleImg" >
        <div class="ArticleImg-layer" data-img="http://robindelaporte.fr/codepen/visa-bg.jpg"></div>
        <div class="ArticleImg-layer" data-img="http://robindelaporte.fr/codepen/visa.png"></div>
      </div>
    </div>
  </div>
</div>
<div class="BlogsPage"></div>