<!-- 平衡 Blogs 的DIV -->
<div class="BlogsBalance"></div>
<div class="BlogsContent">
  <div class="BlogsSearchBar" id="BlogsSearchBar">
    <div id="serach-hover">
        <div class="search-tb">
          <div class="search-td"><input id="search-input" type="text" style="outline: none;border: 0;" onkeydown="search_submit()" placeholder="Search" required></div>
          <div class="search-td" id="search-cover">
            <button type="search-submit"><div id="search-circle"></div><span></span></button>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="BlogsPage"></div>